<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<form id="fmt1">
    <input type="text" id="message" autofocus>
    <input type="submit" id="btn" value="send" />
    <ul id="chatList"></ul>
</form>

<body>

    <script>
        var name = "";
        var appendMessage = (msg)=>{
            var item = document.createElement("li");
            item.innerText = msg;
            document.querySelector("#chatList").appendChild(item);
        }

        (() => {      
            name = prompt("your name?");      
            while(name==="null"){
                name = prompt("your name?");
            }
            document.querySelector("#fmt1").onsubmit = () => {        
                try{
                    ws.send(`${name}:${document.querySelector("#message").value}`);
                }   catch(e){

                }     
                
                document.querySelector("#message").value = "";
                return false;
            }
        })()
        var ws = new WebSocket("ws://localhost:5050/ws")
        ws.onopen = () => {
            console.log("open ws");
            ws.send(`${name} connect`);
        }

        ws.onclose = () => {            
            appendMessage("server close");
        }

        ws.onmessage = (evt) => {
            appendMessage(evt.data);
            
        }

        ws.onerror = (err) => {
            console.log(err)
        }

    </script>
</body>

</html>